apps/server/.venv/
*/*node_modules
apps/server/prisma_db/
.vscode/settings.json
apps/server/.env
apps/server/main/__pycache__/
.vscode/extensions.json
apps/server/worker/__pycache__/
apps/server/rag/__pycache__/
apps/web/.next/
apps/web/.next/cache/.rscinfo
apps/web/node_modules/
files/
